{% extends 'shopping.html' %}

{% block title %}
    Welcome Page
{% endblock %}

{% block content %}
<div class="row">
    
    <!-- Content Description -->
    <div class="col-md-6 d-flex align-items-center">
        <div>
            <h1 class="mb-4">Welcome!</h1>
            <p>Here is a sample image with a button positioned on the bottom-left corner. This layout is fully responsive.</p>
            <p>You can use this layout in your projects for an interactive design.</p>
        </div>
    </div>

    <!-- Image and Button -->
    <div class="col-md-6">
        <div class="image-container">
            <img src="https://images.pexels.com/photos/29819373/pexels-photo-29819373/free-photo-of-vibrant-red-tulips-blooming-in-spring-garden.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="img-fluid rounded" alt="Sample Image">
            <a href="{% url 'login' %}" class="btn btn-primary btn-bottom-left">Get Started</a>
        </div>
    </div>
</div>
{% endblock %}